/* Weather API Task
	Written by Joseph Distler
	Custom styles on top of bootstrap 
*/

.bigLogo{
	font-size:125px;
}

.titleText{
	font-family: 'Lobster', cursive;
}

#warningNote{
	margin-top:20px;
	display: none;
}

#weatherBox{
	margin-top:50px;
	margin-bottom:50px;
	display: none;
}

.weatherContent{
	margin-bottom = 25px;
}

.weatherText{
	margin-top: -5px;
	margin-bottom: -5px;
}

.weatherIcon{
	width:50%;
}

.tempButtons{
	width:100%;
}